{% extends "public/templates/public_templates.html" %}

{% block title %}jinja templating{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>jinja</h1>
            <hr>

            <h3>variables</h3>
            <hr>

            name: {{ my_name }}

            <hr>

            <h4>looping</h4>

            {% for lang in langs %}
                <ul>
                    {{ lang }}
                </ul>
            {% endfor %}

            <hr>

            <h4>looping with index</h4>

            {% for lang in langs %}
                <ul>
                    {{ loop.index }} : {{ lang }}
                </ul>
            {% endfor %}

            <hr>

            <h4>looping with a dict</h4>

            {% for k, v in friends.items() %}
                <ul>
                    {{ k }} : {{ v }}
                </ul>
            {% endfor %}

            <hr>

            <h4>looping with a dict - keys</h4>

            {% for k in friends.keys() %}
                <ul>
                    {{ k }}
                </ul>
            {% endfor %}

            <hr>

            <h4>looping with a dict - values</h4>

            {% for v in friends.values() %}
                
                <ul>
                    {{ v }}
                </ul>
            {% endfor %}

            <hr>

            <h4>access list member</h4>

            {{ langs[0] }}

            <hr>

            <h4>access dict member</h4>

            {{ friends["Tom"] }}

            <hr>

            <h4>access class attributes</h4>

            {{ my_remote.url }}

            <hr>

            <h4>"unpack" with new variables (a tuple, in this case)</h4>

            {% set a, b, c, d, e = colors %}

            <p>{{ a }}</p>

            <p>{{ b }}</p>

            <p>{{ c }}</p>

            <p>{{ d }}</p>

            <p>{{ e }}</p>

            <h4>give new name to a tuple, loop, and select</h4>

            {% set foof = colors %}

            <p>{{ foof }}</p>

            {% for col in foof %}

                {% if loop.index == 3 %}

                <ul>
                    <p> {{ loop.index }} : {{ col }}</p>
                </ul>

                {% endif %}

            {% endfor %}
            <hr>

            <h4>conditional if</h4>

            

            

        </div>
    </div>
</div>
{% endblock %}