{% extends "public/templates/public_templates.html" %}

{% block title %}jinja templating{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>jinja</h1>
            <hr>

            <h3>variables</h3>
            <hr>

            name: {{ my_name }}

            <hr>

            <h4>looping</h4>

            {% for lang in langs %}
                <ul>
                    {{ lang }}
                </ul>
            {% endfor %}

            <hr>

            <h4>looping with index</h4>

            {% for lang in langs %}
                <ul>
                    {{ loop.index }} : {{ lang }}
                </ul>
            {% endfor %}

            <hr>

            <h4>looping with a dict</h4>

            {% for k, v in friends.items() %}
                <ul>
                    {{ k }} : {{ v }}
                </ul>
            {% endfor %}

            <hr>

            <h4>looping with a dict - keys</h4>

            {% for k in friends.keys() %}
                <ul>
                    {{ k }}
                </ul>
            {% endfor %}

            <hr>

            <h4>looping with a dict - values</h4>

            {% for v in friends.values() %}
                
                <ul>
                    {{ v }}
                </ul>
            {% endfor %}

            <hr>

            <h4>access list member</h4>

            {{ langs[0] }}

            <hr>

            <h4>access dict member</h4>

            {{ friends["Tom"] }}

            <hr>

            <h4>access class attributes</h4>

            {{ my_remote.url }}

            <hr>

            <h4>"unpack" with new variables (a tuple, in this case)</h4>

            {% set a, b, c, d, e = colors %}

            <p>{{ a }}</p>

            <p>{{ b }}</p>

            <p>{{ c }}</p>

            <p>{{ d }}</p>

            <p>{{ e }}</p>

            <hr>

            <h4>carry on with "unpacked" variable (?)</h4>

            <p>{{ c }}</p>

            <hr>

            <h4>give new name to a tuple, loop, and select</h4>

            {% set foof = colors %}

            <p>{{ foof }}</p>

            {% for col in foof %}

                {% if loop.index == 3 %}

                <ul>
                    <p> {{ loop.index }} : {{ col }}</p>
                </ul>

                {% endif %}

            {% endfor %}
            <hr>

            <h4>conditional if</h4>

            {% if cool %}

                <p>cool = {{ cool }}</p>

            {% endif %}

            <hr>

            <h4>conditional if, elif, else</h4>

            {% if my_age < 18 %}
                <p>no entry for you... too young</p>
            {% elif my_age > 55 %}
                <p>no entry for you... too old</p>
            {% else %}
                <p>come on in...</p>                
            {% endif %}

            <hr>

            <h4>call a function</h4>

            <p>{{ repeat("Get that pizza! ", 4 ) }}</p>

            <hr>

            <h4>call a class method</h4>

            <p>{{ my_remote.clone() }}</p>

            <h4>still carry on with "unpacked" variables (?)</h4>

            <p>{{ b }}</p>

            <hr>

            <h4>and/or/not stuff</h4>

            <p>not {{cool}}</p>

            <p>{{ not cool }}</p>

            <p>{{cool and cool}}</p>

            <p>{{cool or cool}}</p>

            <hr>

            <h4>math operators</h4>

            <p>my age / 2 = {{ my_age / 2 }}</p>

            <p>my age + 2 = {{ my_age + 2 }}</p>

            <p>my age = {{ my_age }}</p>

            <hr>

            <h4>Jinja filters</h4>

            <p>length of langs list: {{ langs|length }}</p>

            <p>length of friends dict: {{ friends|length }}</p>

            <p>reverse my name: {{ my_name|reverse }}</p>

            <h4>Jinja filters - join</h4>

            <p>langs: {{ langs|join(", ") }}</p>

            <!-- <hr> -->

            <hr>

            <h4>escaping - browser/data security measure</h4>

            <p>automatically 'escaped': {{ my_html }}</p>

            <p>with safe filter, allowing html tags to work: {{ my_html|safe }}</p>

            <hr>

            <h4>using safe filter badly/dangerously (don't do this)</h4>

            <!-- <p>{{ suspect | safe }}</p> -->

            <p> alerts "HACKED" - because variable with script was given safe filter</p>

            <p> ... script now disabled, because continuing with it would be annoying </p>

            <hr>

            <h4>macros</h4>

            {% macro input_macro(label="", type="text", name="", id="", placeholder="") -%}

            <div class="form-group">
                <label> {{ label }}</label>
                <input type= "{{ type }}", name= "{{ name }}", id= "{{ id }}", placeholder= "{{ placeholder }}" >
            </div>

            {%- endmacro %}
            

        </div>
    </div>
</div>
{% endblock %}